@import '../node_modules/datatables.net-dt/css/jquery.dataTables.css';

.better-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial, sans-serif;

    th {
        font-size: 0.75em;
    }

    td {
        font-size: 0.5em;
    }
}